In [82]:
import pandas as pd 
import numpy as np 
import scipy as sp 
import matplotlib.pyplot as plt
from tqdm import tqdm
import random
from IPython.display import display, clear_output

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score




def generate_prediction():
    # Replace this with your actual prediction logic
    return random.randint(1, 100)

try:
    while True:
        prediction = generate_prediction()

        # Output the prediction value
        print("Prediction:", prediction)

        # Remove the prediction or perform any other desired action

        # Print a new value (you can modify this step based on your requirements)
        print("New Value:", random.uniform(0, 1))

        # Clear the previous output to update dynamically
        clear_output(wait=True)

        # Add a delay if needed
        time.sleep(1)  # 1 second delay

except KeyboardInterrupt:
    # Handle interruption (e.g., press the stop button in Jupyter Notebook)
    print("Loop interrupted.")

In [83]:
df = pd.read_csv('Dataset.csv')
df.set_index('Unnamed: 0', inplace=True)
df.head(3)

,x_1,x_109,x_113,x_12,x_124,x_127,x_144,x_16,x_18,x_2,...,x_73,x_77,x_78,x_8,x_80,x_83,x_89,x_91,x_99,y
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,5099,1,5,156,35,-2,1,40,999,7,...,0.11,629,14,487,-0.31,115,0.02,-0.10,-0.49,0
1,5191,0,1,164,16,1,5,4,999,5,...,0.11,509,26,346,-0.31,317,0.02,0.24,-0.21,0
2,5228,1,0,774,75,1,5,12,999,4,...,0.11,1058,30,227,-0.31,464,0.02,-0.10,-0.21,0

In [84]:
df.isnull().sum().sum()

0

In [85]:
df.shape

(4119, 41)

In [86]:
X = df.drop('y', axis=1)
y = df['y']
X.head()

,x_1,x_109,x_113,x_12,x_124,x_127,x_144,x_16,x_18,x_2,...,x_71,x_73,x_77,x_78,x_8,x_80,x_83,x_89,x_91,x_99
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,5099,1,5,156,35,-2,1,40,999,7,...,1,0.11,629,14,487,-0.31,115,0.02,-0.10,-0.49
1,5191,0,1,164,16,1,5,4,999,5,...,0,0.11,509,26,346,-0.31,317,0.02,0.24,-0.21
2,5228,1,0,774,75,1,5,12,999,4,...,0,0.11,1058,30,227,-0.31,464,0.02,-0.10,-0.21
3,5228,1,1,747,4,1,5,69,999,3,...,1,0.11,1048,4,17,-0.31,39,-0.18,-0.10,-0.21
4,5196,1,5,29,28,0,4,32,999,6,...,0,0.11,993,22,58,-0.31,492,0.02,-0.10,0.21

In [87]:
y.unique()

array([0, 1], dtype=int64)

In [97]:
# Calculate correlation between features and target variable
correlation_with_target = X.apply(lambda feature: feature.corr(y))

# Rank features based on absolute correlation values
ranked_features = correlation_with_target.abs().sort_values(ascending=True)

print("\nRanked Features:")
print(ranked_features)

Correlation with Target:
x_1     -0.349099
x_109    0.020343
x_113    0.014972
x_12     0.009255
x_124   -0.002862
x_127   -0.284577
x_144   -0.274686
x_16     0.001719
x_18    -0.332012
x_2      0.018533
x_25     0.060374
x_27    -0.066218
x_28     0.049199
x_30    -0.013542
x_33    -0.044597
x_38     0.073173
x_42    -0.022616
x_44     0.001467
x_45     0.137401
x_52    -0.076091
x_55     0.012277
x_57     0.259786
x_59    -0.004367
x_60     0.255697
x_62    -0.017317
x_64    -0.033204
x_67     0.015368
x_68     0.011147
x_7      0.005914
x_70     0.016116
x_71     0.042517
x_73     0.076423
x_77     0.008191
x_78    -0.003405
x_8      0.418565
x_80     0.327234
x_83    -0.020492
x_89     0.016451
x_91     0.049030
x_99     0.127993
dtype: float64

Ranked Features:
x_44     0.001467
x_16     0.001719
x_124    0.002862
x_78     0.003405
x_59     0.004367
x_7      0.005914
x_77     0.008191
x_12     0.009255
x_68     0.011147
x_55     0.012277
x_30     0.013542
x_113    0.014972
x_67     0.015368
x_70     0.016116
x_89     0.016451
x_62     0.017317
x_2      0.018533
x_109    0.020343
x_83     0.020492
x_42     0.022616
x_64     0.033204
x_71     0.042517
x_33     0.044597
x_91     0.049030
x_28     0.049199
x_25     0.060374
x_27     0.066218
x_38     0.073173
x_52     0.076091
x_73     0.076423
x_99     0.127993
x_45     0.137401
x_60     0.255697
x_57     0.259786
x_144    0.274686
x_127    0.284577
x_80     0.327234
x_18     0.332012
x_1      0.349099
x_8      0.418565
dtype: float64

### calculating feature importances using Random Forest Classifier algorithm

In [95]:
importances = np.zeros(X.shape[1])
count = 0

for i in tqdm(range(100)):
    seed = random.randint(1, 10000)
    random.seed(seed)
    test_size = round(random.randint(10, 40)/100, 2)
    x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=seed, test_size=test_size)
    
    rf_classifier = RandomForestClassifier(n_estimators=random.randint(100, 400), random_state=seed)
    rf_classifier.fit(x_train, y_train)
    y_pred = rf_classifier.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    if accuracy>0.9:
        importances += rf_classifier.feature_importances_
        count+=1
        
importances = importances/count
print("Number of Instances with model accuracy >90: ", count)

feature_indices = sorted(range(len(importances)), key=lambda k: importances[k], reverse=True)

print("Feature Importances:")
for idx in feature_indices[:20]:
    print(f"Feature {idx + 1}: {importances[idx]}")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [03:28<00:00,  2.08s/it]